
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Thông tin chính:</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <tr><td>Name</td><td>@ViewBag.Name</td></tr>
        <tr><td>Email</td><td>@ViewBag.Email</td></tr>
        <tr><td>Subject</td><td>@ViewBag.Subject</td></tr>
        <tr><td>TenantId</td><td>@ViewBag.TenantId</td></tr>
    </table>
</div>

<br />
<h3>Tất cả thông tin:</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-condensed">
        @foreach (var claim in ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims)
        {
            <tr><td>@claim.Type</td><td>@claim.Value</td></tr>
        }
    </table>
</div>
<br />
<br />
@Html.ActionLink("Đăng xuất", "SignOut", "Login", null, new { @class = "btn btn-primary" })


