<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/Assets/Admin/images/Logo_NEU.PNG" />
    <title>Trường Đại học Kinh tế Quốc dân</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
    <link href="~/Assets/Admin/libs/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Assets/Admin/libs/toastr/build/toastr.css" rel="stylesheet" />
    <link href="~/Assets/Home/css/home.css" rel="stylesheet" />
    @RenderSection("css", required: false)
</head>
<body>
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <div>
                    <a class="navbar-brand" href="/DangKy/DangKyTheoTuan">
                        <img src="~/Assets/Admin/images/Logo_NEU.PNG" class="logo">
                    </a>
                </div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>
                        <div>
                            <span class="truong">TRƯỜNG ĐẠI HỌC KINH TẾ QUỐC DÂN</span><br>
                            <span class="app">HỆ THỐNG QUẢN LÝ PHÒNG HỌP</span>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {

                        <li> @Html.ActionLink("Xin chào " + ((User.Identity as System.Security.Claims.ClaimsIdentity)?.FindFirst("name")?.Value), "Index", "Claims")</li>
                        <li> @Html.ActionLink("Đăng xuất", "SignOut", "Login")</li>
                    }
                    else
                    {
                        <li>
                            <form class="form-group frmDNQT">
                                <div class="input-group">
                                    <input type="text" id="txtUsername" class="form-control" placeholder="Username" />
                                </div>

                                <div class="input-group" style="padding-top:5px;">
                                    <input id="txtPassword" type="password" class="form-control" placeholder="Password" />
                                </div>
                                <div class="input-group" style="padding-top:5px; padding-left:15px; width:143px;">
                                    <button id="btnLogin" class="form-control btn btn-success btn-sm">Đăng nhập quản trị</button>
                                </div>
                            </form>
                        </li>
                        <li>
                            <a href="@Url.Action("SignIn365", "Login")" style="text-decoration: none;">
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="230px" height="50px" viewBox="0 0 3278 522" class="SignInButton">
                                <style type="text/css">
                                    .fil0:hover {
                                        fill: #4B4B4B;
                                    }

                                    .fnt0 {
                                        font-size: 180px;
                                        font-family: 'Segoe UI Semibold', 'Segoe UI';
                                        text-decoration: none;
                                    }
                            </style>
                                <rect class="fil0" x="2" y="2" width="2600" height="517" fill="green" />
                                <rect x="150" y="129" width="122" height="122" fill="#F35325" />
                                <rect x="284" y="129" width="122" height="122" fill="#81BC06" />
                                <rect x="150" y="263" width="122" height="122" fill="#05A6F0" />
                                <rect x="284" y="263" width="122" height="122" fill="#FFBA08" />
                                <text x="470" y="357" fill="white" class="fnt0">Đăng nhập Office 365</text>
                           </svg>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>Copyright &copy; @DateTime.Now.Year - Trường Đại học Kinh tế Quốc dân. All Rights.</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Assets/Admin/libs/toastr/toastr.js"></script>
    <script src="~/Assets/Admin/libs/bootbox/bootbox.js"></script>
    <script src="~/Assets/Admin/libs/mustache/mustache.js"></script>
    <script src="~/Assets/Home/js/login.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "3000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut",
    }
</script>
